@font-face {
	font-family: 'Montserrat';
	src: url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
	src: url(./assets/fonts/Montserrat-SemiBold.ttf) format('truetype');
	font-weight: 600;
}

@font-face {
	font-family: 'Montserrat';
	src: url(./assets/fonts/Montserrat-Bold.ttf) format('truetype');
	font-weight: 700;
}

* {
	font-family: 'Montserrat', sans-serif !important;
}
*:focus {
	outline: 0 !important;
}
body {
	background: linear-gradient(45deg, #a73737, #7a2828);
	/* background-repeat: none; */
	color: white;
	height: 100%;
	width: 100%;
	margin: 0;
	transition: background 2s;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.appHeader {
	font-weight: 700;
	font-size: 50px;
	padding-left: 19px;
	padding-top: 10px;
	cursor: pointer;
}

.container {
	padding-left: 0px;
	margin: 20px;
}
.fan-settings > h3 {
	padding-bottom: 10px;
	font-weight: 600;
}
.card {
	transition: transform 0.2s;
}

.card:hover {
	transform: scale(1.1);
}
.card-title {
	padding-top: 15px;
}
.btn-fix {
	padding: 0;
	border: none;
	outline: none;
	white-space: normal;
	color: black;
	text-align: left;
}

.card-title {
	color: black;
	font-weight: 600;
	text-align: center;
	font-size: 50px;
}

.rgb-settings > h3 {
	padding-top: 20px;
	font-weight: 600;
}
.rgb-settings > h4 {
	font-size: 20px;
	padding-left: 9px;
	padding-top: 20px;
}
.col > h4 {
	font-size: 20px;
	padding-top: 20px;
	padding-left: 10px;
}

.brightness {
	padding-left: 15px;
	padding-top: 5px;
}
#ex1Slider .slider-selection {
	background: #bababa;
}

.btn-group {
	padding-top: 15px;
	padding-left: 10px;
}
.cp > h4 {
	font-size: 20px;
	padding-top: -10px;
}
.cp {
	padding-left: 10px;
	padding-top: 13px;
}
